@model Mar4MVC.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentDetails</title>
</head>
<body>
    <div>
        <p>
            Student ID: @Model.Id
        </p>
        <p>
            Student NAme: @Model.Name
        </p>
        <p>
            Student Age: @Model.Age
        </p>
    </div>
</body>
</html>
